<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcd.training.com.calendar">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--for saving priorities-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQ88CDf333fCpExpH8jQ_1RxfKDxZ9BeU"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".EventDetailsActivity"
            android:theme="@style/AppTheme.ColorActionBar"/>

        <service
            android:name=".ReminderTask.ReadTodayRemindersJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".ReminderTask.ReminderJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity android:name=".AddEventTask.AddEventActivity"
            android:theme="@style/AppTheme.ColorActionBar" />

        <activity android:name=".ReminderTask.EventPopup"
            android:theme="@style/Theme.Transparent"
            android:launchMode="singleTop"/>

        <receiver android:name=".ReminderTask.EventReminderReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.EVENT_REMINDER" />
                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".EventChangesReceiver"
            android:priority="1000" >
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />
                <data android:scheme="content" />
                <data android:host="com.android.calendar" />
            </intent-filter>
        </receiver>
    </application>

</manifest>